{
  "printWidth": 120,
  "semi": false,
  "singleQuote": true,
  "quoteProps": "consistent",
  "endOfLine": "auto",
  "arrowParens": "avoid",
  "trailingComma": "all",
  "jsxSingleQuote": true,
  "bracketSpacing": true
}
