:root {
  --primary: #ffffff;
  --secondary: #0e172a;
  --tertiary: #84889a;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--secondary);
  background: var(--primary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
